@{
    Layout = "_Account.cshtml";
}

<div class="panel border bg-white" style="margin-top: 100px; margin-left: auto; margin-right: auto; width: 400px">
    <div class="panel-heading pt-4">
        <h3 class="font-weight-bold">Code</h3>
    </div>
    <div class="panel-body">
        <form method="POST">
            <div class="m-4">
                <input type="number" id="form2Example1" class="form-control" placeholder="create verifi code" />
            </div>
            <div class="me-4 mx-4 m-0">
                <a class="btn btn-primary w-100" asp-action="index" asp-controller="home">Enter</a>
            </div>
            <div class="text-center pt-4 pb-4 text-muted">
                Don't have an account? <a asp-action="register" asp-controller="accounts">No!</a>
            </div>
        </form>
    </div>
</div>


