@using OpenWork.Services.Dtos
@model UserLoginDto
@{
    Layout = "_Account.cshtml";
}
<div class="panel border bg-white" style="margin-top: 100px; margin-left: auto; margin-right: auto; width: 400px">
    <div class="panel-heading pt-4">
        <h3 class="font-weight-bold">Login</h3>
    </div>
    <div class="panel-body">
        <form method="post" asp-action="login" asp-controller="users">
            <div class="m-4">
                <input type="email" asp-for=Email id="form2Example1" class="form-control" placeholder="Username or Email" />
            </div>
            <span asp-validation-for=Email></span>
            <div class="m-4">
                <div class="input-field">
                    <span class="fas fa-lock px-2"></span>
                    <input type="password" asp-for=Password placeholder="Enter your Password" required>
                    <button class="btn bg-white text-muted">
                        <span class="far fa-eye-slash"></span>
                    </button>
                </div>
                <span asp-validation-for=Password></span>
            </div>
            <div class="me-4 mx-4">
                <a href="#" id="forgot" class="font-weight-bold">Forgot password?</a>
            </div>
            <div class="me-4 mx-4">
                <input type="submit" value="Login" class="btn btn-primary w-100" >
            </div>
            <div class="text-center pt-4 pb-4 text-muted">
                Don't have an account? <a asp-action="register" asp-controller="users">Sign up</a>
            </div>
        </form>
    </div>
    <div class="mx-3 my-2 py-2 bordert">
        <div class="text-center py-3">
            <a href="https://www.linkedin.com" target="_blank" class="px-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="">
            </a>
            <a href="https://www.google.com" target="_blank" class="px-2">
                <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                     alt="">
            </a>

            <a href="https://www.github.com" target="_blank" class="px-2">
                <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                     alt="">
            </a>
        </div>
    </div>
</div>


