.github                       @Kkkiittt
OpenWork/OpenWork.DataAccess  @sanjarmavlonov
OpenWork/OpenWork.Services    @sanjarmavlonov
OpenWork/OpenWork.Web         @shoxruxhusenov
OpenWork/OpenWork.Domain      @Kkkiittt
OpenWork/OpenWork.UnitTest    @Kkkiittt
