@{
    Layout = "_Account.cshtml";
}

<div class="panel border bg-white" style="margin-top: 100px; margin-left: auto; margin-right: auto; width: 400px">
    <div class="panel-heading pt-4">
        <h3 class="font-weight-bold">Register</h3>
    </div>
    <div class="panel-body">
        <form method="POST">
            <div class="m-4">
                <input id="form2Example1" class="form-control" placeholder="First Name" />
            </div>
            <div class="m-4">
                <input type="email" id="form2Example1" class="form-control" placeholder="Username or Email" />
            </div>
            <div class="m-4">
                <div class="input-field">
                    <span class="fas fa-lock px-2"></span>
                    <input type="password" placeholder="Enter your Password" required>
                    <button class="btn bg-white text-muted">
                        <span class="far fa-eye-slash"></span>
                    </button>
                </div>
            </div>
            <div class="me-4 mx-4">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember" class="text-muted">Remember me</label>
                <a href="#" id="forgot" class="font-weight-bold">Forgot password?</a>
            </div>
            <div class="me-4 mx-4">
                <a class="btn btn-primary w-100" asp-action="email" asp-controller="accounts">Register</a>
            </div>
            <div class="text-center pt-4 pb-4 text-muted">
                Do you have an account? <a asp-action="login" asp-controller="accounts">Login in</a>
            </div>
        </form>
    </div>
</div>
